
TELEGRAM_BOT_TOKEN=#
TELEGRAM_CHAT_ID=#

PARSE_MODE=HTML
MESSAGE_MAX_CHARS=3800
MAX_MESSAGE_PARTS=4
SEND_MARKDOWN_FILE=true
DISABLE_LINK_PREVIEW_BLOG=true
DISABLE_LINK_PREVIEW_BOOK=false

SITE_BASE_URL=https://loxa-rpg.vercel.app
LOCALE=ru
WATCH_BLOG=true
WATCH_BOOK=true

STATE_FILE=state.json
HTTP_TIMEOUT=25
HTTP_RETRIES=3
